.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgb(30, 30, 31);
    position: fixed;padding: 0;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: white;
    
}
.logo{
    width: auto;
    height: 100px;
    border-radius: 50%;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p {
    color: rgb(107, 207, 247);
    font-size:  38px;
    font-weight: 600;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: rgb(118, 126, 123);
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
   border: none;
   width: 80%;
   height: 3px;
   border-radius: 10px;
   background-color: aqua;

}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 75px;
    color: gray;font-size: 20px;
    background: white;
    font-weight: 500;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: rgb(235, 231, 231);
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-log img {
        width: 40px;
    }
    .nav-log p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: 40px;
        font-size: 12px;
    }
}

@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 18px;
        font-size: 12px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}