.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, white 0%, rgb(79, 194, 247) 60%);
    gap: 30px;
}

.newsletter h1 {
    color: rgb(118, 206, 247);
    font-size: 55px;
    font-weight: 600;
}

.newsletter p {
    color: rgb(44, 99, 124);
    font-size: 20px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid white;

}

.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: gray;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: rgb(21, 23, 109);
    color: white;
    font-size: 16px;
    cursor: pointer;
}



